.NavBar{
    background-color: rgb(31, 158, 124);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    color: aliceblue;
    height: 40px;
}
.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.Logo{
    width: 70px;
    height: 40px;
    text-decoration: none;
}